{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <h1>This is the post page</h1>

        <a class="btn btn-info" href="{% url 'new-post' %}">New Message</a>

        {% for post in posts %}
            <div class="pst-crd">
                <h2>{{ post.author }}</h2>
                {% if post.img %}

                    <img src="{{ post.img.url }}" alt="first-img" class="first-img">
                {% endif %}
                {% if post.video %}
                    <div style="margin: 10px auto;">
                        <video autoplay="autoplay" controls="controls" preload="metadata" class="first-img" loop="loop">
                            <source src="{{ post.video.url }}" type="video/mp4"/>
                        </video>
                    </div>
                {% endif %}


                <p>{{ post.message }}</p>
                <button class="btn" type="submit">
                    like ({% for like in post.likes.all %}{% if forloop.last %}{{ forloop.counter }}{% endif %}{% empty %}0{% endfor %})
                </button>
                <a class="btm-btn author-btn" href="#">
                    comment (
                    {% for comment in comments %}
                        {% if comment.post.pk == post.pk %}
                            {% if forloop.last %}{{ forloop.counter }}{% endif %}
                        {% endif %}
                    {% empty %}0
                    {% endfor %}
                )
                </a>

            {% for comment in comments %}
                {% if comment.post.pk == post.pk %}
                            <p>{{ comment.message }} -- {{ comment.author }}</p>
                        {% endif %}


                {% endfor %}
                <div class="bar"></div>
            </div>


        {% empty %}
            <div class="message-box-local">
                <p>No posts yet.</p>
            </div>
        {% endfor %}



{% endblock content %}
