{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Hello World
        </title>
        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <script src="{% static 'base.js' %}" rel="script" crossorigin="anonymous" type="text/javascript"></script>

    </head>
    <body>
    <header>
        <a style="margin: 20px;" href="{% url 'posts-list' %}">Posts</a>
        <a style="margin: 20px;" href="{% url 'profile' %}">Profile</a>
        {% if not user.is_authenticated %}
        <a style="margin: 20px;" href="{% url 'register' %}">Register</a>
        <a style="margin: 20px;" href="{% url 'login' %}">Login</a>
        {% else %}
        <a style="margin: 20px;" href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </header>
        <div class="mt-40">
        <div class="stuff">
        {% block content %}

        {% endblock content %}
        </div>
        </div>
    </body>
</html>